body {
  margin: 0;
  background-color:#193549;
  font-family: Verdana, sans-serif;
}
.navbar{
  font-family: "Segoe UI",Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI",Arial,sans-serif;
}

.bg-combat{
  background-color:#193549;
}
.text-green{
  color: #a5ff90!important;
}
.bg-yellow{
  background-color:#ffffcc
}